/* Set up custom CSS variables for colors */
:root {
  --color-primary: #212a3e; /* Dark Gray */
  --color-secondary: #191d88; /* Teal */
  --color-tertiary: #337ccf; /* Blue */
  --color-background: #eeeeee; /* Light Cream */
  --color-accent: #900c3f; /* Dark Red */
  --color-highlight: #c70039; /* Red */
  --color-button: #f4d160;
  --color-button-hover: #fbeeac;
}

/* Reset default padding, margin, and box sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* Apply a flex layout to the body for centering content */
body {
  display: flex; /* Use a flex container to horizontally center content */
  justify-content: center; /* Horizontally center content within the flex container */
  margin-top: 20px;
  background-color: #f5f2e7;
}

/* Style for the header section */
header {
  text-align: center; /* Center the text content within the header */
  padding: 20px;
  background-color: #212a3e;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);/* Add a box shadow for a subtle depth effect */
  width: 400px;
}

/* Style for the ADD button */
button {
  background-color: #f4d160;
  color: black;
  border: none;  /* Remove the default border */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s; /* Add a smooth transition effect on background color change */
  margin-left: 10px;
  height: 30px;
  width: 50px;
  margin-top: 10px ;
}

button:hover {
  background-color: #fbeeac;
}

/* Style for the input field container */
.inputCss {
  display: flex;
  align-items: center;  /* Vertically center align items */
  margin-top: 10px;
}

/* Style for the input field */
.inputCss input {
  height: 30px;
  width: 100%;
  padding: 5px;
  border: 1px solid #395b64;
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
}

/* Style for the task list */
ul {
  padding: 10px;
  margin-top: 20px;
  list-style: none;
  width: 100%; /* Set the width to 100% to ensure list items fit within the header */
  box-sizing: border-box; /* Include padding and border within the width  */
  /* notes: By setting the width of the <ul> element to 100% and using box-sizing: border-box;, 
  you ensure that the list items fit within the header properly without pushing other elements.*/
}

/* Style for task list items */
ul li {
  background-color: #337ccf;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;  /* Vertically center align items */
}

/* Add a delete button to each task list item */
ul li button {
  background-color: #900c3f;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}
