/* Set up custom CSS variables for colors */
:root {
  --color-primary: #212a3e; /* Dark Gray */
  --color-secondary: #191d88; /* Teal */
  --color-tertiary: #337ccf; /* Blue */
  --color-background: #eeeeee; /* Light Cream */
  --color-accent: #900c3f; /* Dark Red */
  --color-highlight: #c70039; /* Red */
  --color-button: #f4d160;
  --color-button-hover: #fbeeac;
}

/* Reset default padding, margin, and box sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* Apply a flex layout to the body for centering content */
body {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 100vh; /* Use full viewport height */
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
}

/* Style for the header section */
header {
  height: 250px;
  width: 500px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1, h2{
  border-bottom: solid var(--color-button);
  margin-top: 10px;
}
h3{
  border-bottom: solid var(--color-button);
}

/* Your existing CSS code */

/* Style for the ADD button */
button {
  height: 40px;
  width: 20%;
  background-color: var(--color-button);
  border: 2px solid var(--color-button);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 20px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
}

button:hover {
  background-color: var(--color-button-hover);
  color: black;
  border-color: var(--color-button-hover);
}


/* Style for the input field container */
.inputCss {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Style for the input field */
.inputCss input {
  height: 30px;
  width: 350px;
  padding: 10px;
  border: 1px solid var(--color-background);
  border-radius: 5px;
  outline: none;
  margin-left: 10px;
}

/* Style for the task list */
ul {
  padding: 10px;
  margin-top: 20px;
}

/* Style for task list items */
li {
  background-color: var(--color-tertiary);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add a delete button to each task list item */
li button {
  background-color: var(--color-accent);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
